.projects-screen-wrap {
    height: 100%;
    display: flex;
}

.p-listbox {
    width: 400px;
    height: calc(100% - 10px);
    margin: 5px;
}

.p-galleria-content {
    height: 100%;
}

.p-galleria-thumbnail-items-container {
    width: 100%;
}